<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_Actions>
            <version>0.1.8</version>
        </OpsWay_Actions>
    </modules>
    <global>
        <models>
            <opsway_actions>
                <class>OpsWay_Actions_Model</class>
                <resourceModel>opsway_actions_mysql4</resourceModel>
            </opsway_actions>
            <opsway_actions_mysql4>
                <class>OpsWay_Actions_Model_Mysql4</class>
                <entities>
                    <actions>
                        <table>opsway_actions</table>
                    </actions>
                    <labels>
                        <table>opsway_actions_labels</table>
                    </labels>
                    <categories>
                        <table>opsway_actions_categories</table>
                    </categories>
                    <act_in_cat>
                        <table>opsway_actions_act_in_cat</table>
                    </act_in_cat>
                </entities>
            </opsway_actions_mysql4>
        </models>
        <blocks>
            <opsway_actions>
                <class>OpsWay_Actions_Block</class>
            </opsway_actions>
        </blocks>
        <helpers>
            <opsway_actions>
                <class>OpsWay_Actions_Helper</class>
            </opsway_actions>
        </helpers>
        <resources>
            <opsway_actions_setup>
                <setup>
                    <module>OpsWay_Actions</module>
                    <class>OpsWay_Actions_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opsway_actions_setup>
            <opsway_actions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opsway_actions_read>
            <opsway_actions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opsway_actions_write>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <update_action_of_product>
                        <type>singleton</type>
                        <class>OpsWay_Actions_Model_Observer</class>
                        <method>updateAction</method>
                    </update_action_of_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <OpsWay_Actions>
                    <files>
                        <default>OpsWay_Actions.csv</default>
                    </files>
                </OpsWay_Actions>
            </modules>
        </translate>
        <layout>
            <updates>
                <opsway_actions>
                    <file>opsway/actions.xml</file>
                </opsway_actions>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <opsway_actions>
                <use>admin</use>
                <args>
                    <module>OpsWay_Actions</module>
                    <frontName>opsway_actions</frontName>
                </args>
            </opsway_actions>
            <adminhtml>
                <args>
                    <modules>
                        <opsway_actions before="Mage_Adminhtml">OpsWay_Actions_Adminhtml</opsway_actions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <opsway_actions>
                <use>standard</use>
                <args>
                    <module>OpsWay_Actions</module>
                    <frontName>actions</frontName>
                </args>
            </opsway_actions>
        </routers>
        <layout>
            <updates>
                <opsway_actions>
                    <file>opsway/actions.xml</file>
                </opsway_actions>
            </updates>
        </layout>
        <translate>
            <modules>
                <OpsWay_Actions>
                    <files>
                        <default>OpsWay_Actions.csv</default>
                    </files>
                </OpsWay_Actions>
            </modules>
        </translate>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <opsway_actions_controller_action_layout_load_before>
                        <class>opsway_actions/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </opsway_actions_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>
